
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../admin/style.css">
    <title>manage users</title>
</head>
<body>
    <div class="container">
        <%- include("_left.ejs") %>
        <div class="right">
            <table border="1">
                <thead>
                    <tr>
                        <th>first name</th>
                        <th>last name</th>
                        <th>email</th>
                        <th>birth</th>
                        <th>role</th>
                        <th>image</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach(person =>{
                        %>
                   
                    <tr>
                        <td><%= person.first_name %></td>
                        <td><%= person.last_name %></td>
                        <td><%= person.email %></td>
                        <td><%= person.birth %></td>
                        <td><%= person.role %></td>
                        <td><img src="../profile_images/<%= person.image %>"></td>
                        <td><a class="edit" href="/admin/edit_user/<%= person.id %>">edit</a>
                            <form style="display:inline-block;" action="/admin/delete_user/<%= person.id %>?_method=DELETE"
                                 method="post">
                                <button class="delete">delete</button>
                            </form>
                        </td>
                    </tr>
                    <%  }) %>
                </tbody>
            </table>

        </div>
    </div>
</body>
</html>