

<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/style.css">
<title>signup</title>
</head>
<body>
<div class="section">

<div class="sign_up_container">


<div class="sign_up_section">
<div class="section_one">

<div>
<h2>Sign Up</h2>
<p>it's quick and easy</p>
</div>
</div>

<form action="/signup" method="post" >
<% if(typeof errors != 'undefined'){ %>
<% errors.forEach(error => { %>
<div style="color: red; text-align: center; ">
<%= error.msg %>
</div>
<% }) %>
<% } %>
<div class="section_two">

<div class="name">
<input type="text" name="first_name" placeholder="First Name" 
value="<%= typeof first_name != 'undefined'? first_name : ''%>"
required>
<input type="text" name="last_name" placeholder="Last Name"
value="<%= typeof last_name != 'undefined'? last_name : ''%>"
required>
</div>
<div class="email_password">
<input type="email" name="email" placeholder="Email"
value="<%= typeof email != 'undefined'? email : ''%>"
required>
<input type="password" name="password" placeholder="Password"
value="<%= typeof password != 'undefined'? password : ''%>"
required>
<input type="password" name="confirm_password" 
value="<%= typeof confirm_password != 'undefined'? confirm_password : ''%>"
placeholder="confirm_password" required> 
</div>

</div>

<div class="section_three">

<p>birth day?</p>
<input type="date" name="birth" required 
value="<%= typeof birth != 'undefined'? birth : ''%>"
>
</div>

<div>
<input type="hidden" name="role" value="user">
</div>

<center>
Already have an account? <a href="/login">Login</a>
<br>
<input type="submit" class="btn_register">
</center>

</form>

</div>

</div>
</div>
</body>
</html>